 body {
  font-family: "Comic Neue", cursive;
  font-size: 16px;
  line-height: 1.6;
  transition: font-family 0.3s ease;
  box-sizing: border-box;
}
body {
  background: #bde0fe;
}

.chat-app {
  display: flex;
  flex-direction: row;

  height: 600px;
  max-width: 800px;
  margin: 0 auto;
gap: 20px;
  box-shadow: 0 4px 8px rgba(240, 216, 201, 0.5);
  transition: all 0.3s ease;

  animation: fadeIn 0.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.user-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 13px;
  margin-top: 13px;
  padding-right: 9px;
}

.user-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: translateX(-20px);
  opacity: 0;
  animation: slideIn 0.5s ease-out 0.2s forwards;
  box-shadow: 0 0 8px 4px rgba(244, 172, 183, 0.7);
  background: #ffe5ec;
  width: 400px;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.user-list h3 {
    color: #55095a;
    font-size: x-large;
    font-weight: 900;
    margin-bottom: 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    text-shadow: 2px 2px 4px #6468fffa;

}

.user-list h3:hover {
  transform: scale(1.05);
}

.user-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  width: 200px;
}

.user-list li {
  padding: 8px 0;
  border-bottom: 1px solid #f0d8c9;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s ease-out forwards;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
  font-family: system-ui;
  color: #b468c0;
}

.user-list li:nth-child(n + 2) {
  animation-delay: calc(0.1s * var(--item-index));
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mes{
  display: flex;
  gap: 10px;
}
.user-list li:hover {
  background-color: #bde0fe;
  transform: scale(1.02);
}
.op{
  width: 400px;
  height: 664px;
}
.chat-area {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e1eff6;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translateX(20px);
  animation: slideInRight 0.5s ease-out 0.2s forwards;
  box-sizing: border-box;
      box-shadow: 0 0 8px 4px rgb(172 244 237 / 70%);

}

@keyframes slideInRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.logout {
  position: absolute;
  top: 0;
  left: 0;
}

.logout button {
  background: no-repeat;
  font-size: 25px;
  font-family: -webkit-body;
  font-weight: bold;
  border:none;
  text-shadow: 2px 2px 4px #6468fffa;
}
button {
  background-color: none;
}
.sent {
  text-align: left;
  padding: 5px 16px;
  border-radius: 20px;
  color: white;
  background: #ffb0b0;
  width: auto;
}
.received {
  text-align: left;
  padding: 5px 16px;
  border-radius: 20px;
  color: white;
  background: #b08cd0;
  width: auto;
}
.sent-message {
  margin-left: auto;
  width: max-content;
}
.received-message {
  margin-right: 80%;
  width: max-content;
}
.received-time {
}

.search-icon {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #4d4d4d;
  padding: 5px 10px;
  margin-bottom: -8px;
}

.search-input {
  margin-top: 10px;
  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-input:focus {
  outline: none;
  border-color: #f4acb7;
}
.search {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
}
.allchat {
}
